<table>
  <tr>
    <td>
         <font  size="4"> Departamento: <%= collection_select  :departamento_id, @departamento, :id, :depto, :include_blank => ' -- Selecione -- '  %></font>
    </td>
  </tr>
</table>
