<h1 style="color:red" align="center">Importante</h1>
<h3>Criar data base para o mes <b style="color:blue"><%= "#{@mes}" %></b></h3>
<h4><%= "Sistema Infoseduc - Americana #{Time.now.strftime('%d de %B de %Y')}" %></h4>