<h1>Abertura de chamado realizada com sucesso</h1>
<h2>Não responda este email. Email gerado automaticamente.</h2>
<h2>Sistema de Controle Informático - Infoseduc</h2>
<h3>Prefeitura Municipal de Americana - Secretaria de Educação</h3>

<p>
  <h1><b>Protocolo Nº: : </b></h1>
  <font color="red"> <%= @chamado.id %></font><br/>
</p>
<p>
  <b>Solicitado por: </b>
  <font color="green"> <%= @chamado.solicitante %></font><br/>
</p>
<p>
  <b>Problema Informado: </b>
  <font color="blue"> <%= @chamado.problema %></font><br/>
</p>


Site: <a href="infoseduc.seducpma.com">Acessar Infoseduc</a>
