<br/>
 <table  class="tabelas2"   align="center" width="100%">
  <tr>
     <td align="left"><font  size=5><b> AGENDA DE EMPRÉSTIMO DE DATASHOW</b></font></td>
  </tr>
  <tr>
     <td><%= render :partial => "calendar" %></td>
  </tr>
 </table>


