<br/>
<font size="3">
<table border="1" width="100%">
  <tr>
    <th colspan="2" width="80%">Departamento</th>
    <th></th>
  </tr>
<% for departamentos in @departamentos %>
  <tr>
    <td><font size="2"><%=h departamentos.depto %>  </font></td>
      <div class="botao">
        <% if current_user.has_role?('administrador')%>
          <td align="center"><%= link_to image_tag("/stylesheets/images/excluir.PNG", :size => "25x25"), departamentos, :confirm => 'Confirma Exclusao?', :method => :delete, :title => "Excluir" %></td>
        <%end%>
      </div>
  </tr>
<% end %>
</table>
</font>
