<h1>Nova noticia</h1>
<div class="cadastrar">
  <%= render "form", :button => "Salvar" %>
  <%= link_to image_tag("/stylesheets/images/voltar.png", :size => "40x40"), homes_path, :title => "Voltar" %>
</div>
