<% form_remote_for :pessoa, :method => :get,:loading => "$('#status').show()" , :success => "$('#status').hide()",
   :url => {:controller => :chats,
   :action => :busca } do |form| %>
   <b>Primeiro Nome</b>
   <%= text_field :pessoa, :nome %>
   <%= submit_tag "Filtrar", :name => nil %>
<% end %>
<div id="pessoas"><div id='status' style='display:none;' align="center" ><%= image_tag("/stylesheets/load-indicator.gif") %></div></div>