<br/>
<table class="tabelas" width="50%" align="center">
  <tr>
   <td>
    <table>
       <tr>
         <td colspan="2" align="left">
            <font  size=4><b> JUSTIFICATIVA PONTO ELETRÔNICO</b></font>
            <%= render 'form' %>
          </td>
         </tr>
     </table>
   </td>
  </tr>
</table>
