<br/>
<table class="tabelas" width="50%" align="center">
  <tr>
    <td colspan="2" align="left">
       <font  size=4><b> JUSTIFICATIVA PONTO ELETRÔNICO</b></font>
     </td>
   </tr>
   <tr>
     <td>
       <%= render 'form' %>
      </td>
   </tr>
</table>

  



