<br/><br/>
<table class="tabelas" align="center" width="60%">
  <tr>
     <td colspan="2" align="left">
       <font  size=5 color="black"> <b> COMPUTADORES - CONSULTA ESPECÍFICA</b></font>
    </td>
 </tr>
 <tr>
   <td>
   <table>
    <tr>
      <td>
        <div class="botao">
        <table>
          <tr>
             <td colspan="3"align="left"><font size="4">Pertence</font></td>
             <td align="left"><%= collection_select :administracao, :tipo_controle_id, @tipo_controles, :id, :nome, :include_blank => ' -- Selecione -- '  %></td>
                     <%= observe_field 'administracao_tipo_controle_id',
                        :frequency => 0.2,
                        :with   => 'administracao_tipo_controle_id',
                        :url    => { :action => 'lista_tiponome' }%>
          </tr>
          <tr>
              <td colspan="3" align="left"><font size="4">Unidade:</font></td>
               <td align="left"><div id= 'esp_unidade'></div></td>
       
          </tr>
       </table>
       </div>
      </td>
     </tr>
    <tr>
      <td>
        <div id="listagem"> </div>
     </td>
   </tr>
      <div class="botao">
       <table width="100%">
        <tr>
             <td width="6%"align="left" > <%= link_to image_tag("/stylesheets/images/voltar.png", :size => "40x40"), homes_path, :title => "Voltar" %></td>
             <td align="left" ><%= link_to image_tag("/stylesheets/images/imprimir.png", :size => "30x30"), onclick="javascript:window.print()", :title => "Imprimir" %></td>
        </tr>
      </table>
     </div>
    </table>
</table>
 <br>

