<br/><br/>
<table class="tabelas" align="center" width="100%">
  <tr>
     <td colspan="2" align="left">
       <font  size=5 color="black"> <b>  REGIÕES ITINERÂNCIA</b></font>
    </td>
   </tr>
  <tr>
      <td width="50%" valign="top">
            <fieldset><legend><font  size=4> Cadastrar Regiões</font></legend>
               <%= render 'form' %>
            </fieldset>
     </td>
     <td width="50%" valign="top">
         <fieldset><legend><font  size=4> Regiões Cadastradas</font></legend>
          <table width="100%">
           <tr>
              <td align="left">
                <div id="cadastrados"></div>
              </td>
           </tr>
          </table>
         </fieldset>
       </td>
  </tr>
</table>
<br/>



