<br/>
<br/>
<h1>Contatos Seduc</h1>
<div id="quadro" align="center">
<b>Analistas:</b><br/><br/>
  <iframe src="http://www.google.com/talk/service/badge/Show?tk=z01q6amlqagd2hcha6blkmm4i9nlbfjqss8ul5hckrjhdv56b87jbhrrsnir8g6onit7t33mud5mu11lmov751g5fnplrpi22p49a5cq88m9v8jr414rca269m28n82sbqbhcnt9tsvo07ncahb732sbgc0dn7962q136pbuj6ebsv829m3d6anig981n2n5ivg9uff1dnd2n6iipoc7vuj8714m0&amp;w=300&amp;h=18" allowtransparency="true" width="300" frameborder="0" height="18"></iframe>
  <iframe src="http://www.google.com/talk/service/badge/Show?tk=z01q6amlqop1rgapn0vp5clhtket61ikjsrlrfb692f8td2un2j17fiertmfjknlc9dj3tdaakglsfo9orjhg36jqjpilc6jkdmmkkr1fp89n7kl3m89rt2qvi9eaheek5sn47g1nvtb2ckedulcd80fjoin17j9j1q5oe2hpk6kakgcrs4k6ud381pkbg64qjs&amp;w=300&amp;h=18" allowtransparency="true" width="300" frameborder="0" height="18"></iframe>
  <iframe src="http://www.google.com/talk/service/badge/Show?tk=z01q6amlqbdnfnmth3d224r3g0buahc6jp87jau5es4g2bj81e1l05j8cr0mijmgp34krlbg90bh74l9b9qsb98nmc14l7gnikaoh5c2svv84dpnlk04nou3ju8sr664c9hjfqksok4fmq0fr0q0ik6cp4700rg8hfuvloo1gq49f3utq7kg8mt2a84563v1nqk&amp;w=300&amp;h=18" allowtransparency="true" frameborder="0" height="18" width="300"></iframe>
  <iframe src="http://www.google.com/talk/service/badge/Show?tk=z01q6amlqnh4q7bbkvbd9s78s4mehovvhhq20epb8mg28jd3r7i63d0mm3k4bnnge0kdodb8qvtv331rsul1i2u30b83v3bfkl3pv7h4dhgm010p95uiuhimmkfsmqev7mf3l9gu5nno9scff129q0tkrol8b28bkf2p58k3dmq74bd55enn68a8r60mj4ek2tcc0aoidiorpcif5klk0uqile7a15e9um4su8k4jgpo6ff1qq5pfc&amp;w=300&amp;h=18" allowtransparency="true" frameborder="0" height="18" width="300"></iframe>
<br/>
<br/>
<br/>
<br/>
<b>Técnicos:</b><br/><br/>
  <iframe src="http://www.google.com/talk/service/badge/Show?tk=z01q6amlqb527sgmsh0kjnuq4028usdhgc8ifac1059baq7185molisnjrqcqdcccjsenj0r4ofgkj6emk43gp64alotlmq4eclqll6sbf9dokdm05v31fb1eskrnfdjq5k6v0it7sl6n3st34rdb0n1469vfburmbkbe96et7svjg5in6duf8m5tfidiku5l5g&amp;w=300&amp;h=18" allowtransparency="true" width="300" frameborder="0" height="18"></iframe>
  <iframe src="http://www.google.com/talk/service/badge/Show?tk=z01q6amlqssu5vmkractche9e5dmvvvv9meoa3duh41pvpjfdretq3e9vcnrbvghns1i0qdu1rrls1bn9oa2i06hpscjuseiik8jc66avkrjmlj88lk3ng0ie1b0m58cjamrgqsrnrh8jbanatgsgl24e925tji3avomgj52glu7m6tsirsm5hglv1l75e3jlr4&amp;w=300&amp;h=18" allowtransparency="true" width="300" frameborder="0" height="18"></iframe>
  <iframe src="http://www.google.com/talk/service/badge/Show?tk=z01q6amlqjnecl8tvje90v76vpb1fpvdspaiico5h0a2989239mjq68icodf9irrje7bqhn6tbsjfs7hles6grplplsb7694vsboe1ip9uv6af5dlo8u4hktje4uvdql7h3kla4k5md8qq4lglt2pvdpqrdfs5lco5ud85tqcrf25lcvhuo2174bnij2tfptovg&amp;w=300&amp;h=18" allowtransparency="true" width="300" frameborder="0" height="18"></iframe>
  <iframe src="http://www.google.com/talk/service/badge/Show?tk=z01q6amlqsjblau13sjk3p8c085n4m9k98v0avid32mhl6ci24ivb3a4rf5343rf1pv69p22ufku7f3fqs0uvubqncua73sh5qi439gf5t5t0moq26sfb1ajafuf1tke552vc3qrc5vos8io9m35086bnn60m3rubrspid64q1q254cjks1v6dbpe8m0pj7u9qk&amp;w=300&amp;h=18" frameborder="0" allowtransparency="true" width="300" height="18"></iframe>
</div>